extends layout

block content
  div.container.feed
    if user
      div.row
        div.col.col-lg-12
          form(action='/u/' + user.username + '/new_post_feed', class='post' method='POST')
            div.formgroup
              label Title:
              input.form-control(placeholder='A compelling title',
                  name='title',
                  type='text')
              label Post:
              textarea.form-control(placeholder='Write your post here...',
                  rows='12',
                  name='body',
                  type='text',
                  id='editor')
              button.login.btn.btn-primary(type='submit') Post
    if posts
      each post in posts
        div.row
          div.col.col-lg-12
            h1 #{post.title}
            p!= post.body
