extends layout

block content
  div.container
    div.jumbotron
      h1 Lets log you in!
      div.col-sm-offset-4.col-sm-8
        form(action='/login', method='POST')
          div.formgroup
            label Username:
            input.form-control(placeholder='username',
                required=true,
                name='username',
                type='text',
                value='')
            label Password:
            input.form-control(placeholder='password',
                required=true,
                name='password',
                type='password',
                value='')
            button.login.btn.btn-primary(type='submit') Login
          if error
            div.alert.alert-primary(role='alert') #{flash.error}

