extends layout

block content
  div.container
    div.jumbotron
      if isOwner
        h1 Create a new post, #{user.username}
      else
        h1 Not sure why you can create a post for, #{user.username}
      div.col-sm-offset-4.col-sm-8
        form(action='/u/' + user.username + '/new_post', method='POST')
          div.formgroup
            label Title:
            input.form-control(placeholder='A compelling title',
                name='title',
                type='text')
            label Post:
            textarea.form-control(placeholder='Write your post here...',
                rows='12',
                name='body',
                type='text')
            button.login.btn.btn-primary(type='submit') Post
          if errorMessage
            div.alert.alert-primary(role='alert') #{errorMessage}