extends layout

block content
  div.container
    div.jumbotron
      h1 Hello!
  div.container
    div.row
      div.col-md-6
        if isOwner
          p Welcome, #{user.username}
        else if user
          p The page of #{owner.username}
        else
          p Welcome to my app, ready to get started?
          p
            a.btn.btn-primary(href="/login") Login now
          p
            span.small Don't have an account?
            span &nbsp;
            a.small(href="/signup") Sign up now
        if isOwner
          p Hey owner, #{owner.username} ;) ;)
        if posts
          each post, i in posts
            p 
              a.small(href="/u/" + user.username + "/" + post.slug) #{post.title}
        else
            p Posts will show up here.
        p
          a.small(href="/u/" + user.username + "/new_post") Create new post
        p
          a.small(href="/u/" + user.username + "/feed") Check my feed
      div.push-md-2.col-md-6
        h3 User Profile
        h4 Title
        p #{profile.title}
        h4 Description
        p #{profile.description}
        h4 Status
        p #{profile.status}
        if isOwner
            a.small(href="/u/" + user.username + "/profile") Edit my profile
            form(action='/logout', method='POST')
              button.btn.btn-default(type="submit") Logout
